<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Sobre o App</h1>
    <div class="buttons">
      <button class="button icon-right ion-close button-calm" ng-click="closeAbout()">Fechar&nbsp;</button>
    </div>
  </ion-header-bar>
  <ion-content>

	<p style="text-align: center; margin: 3em 2em; line-height: 1.5em;">
	Este aplicativo foi construído para servir de referência nos encontros mensais da comunidade <b>Ionic Brasil</b>. O mesmo é baseado na API pública sobre Pokémons, portanto, caso você tenha alguma idéia e queira contribuir para a evolução do mesmo, não se acanhe e "get your hands dirty"!<br>
	Abraços e até o próximo encontro!<br><br>
	Atenciosamente,<br>
	<b>Ionic Framework Meetup</b> - Rio de Janeiro
	</p>

  </ion-content>
</ion-modal-view>