<ion-view view-title="Pokemons">
  <ion-content>
      <div class="bar bar-header item-input-inset">
          <!-- <label class="item-input-wrapper"> -->
          <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" ng-model="search" placeholder="Search">
          </label>
      </div>
      <ion-list>
          <ion-item class="item" collection-repeat="pokemon in pokemons.pokemon | filter:search"
                    href="#/app/{{ pokemon.resource_uri }}">
              {{ pokemon.name }}
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
